# Visual Studio Code
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
/appsettings.json


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Rider
.idea/
*.sln.iml
misc.xml
workspace.xml
tasks.xml
*.dotCover
*.resharper
*.resharper.user
*.ReSharper.user
*.rider
*.sln.DotSettings.user
*.sln.dotCover

# ReSharper
_ReSharper*/
*.sln.ReSharper.user

# Test Results
[Tt]est[Rr]esult*/
*.testsettings
*.coveragexml
*.dotCover
*.opendb
*.dotsettings.user
*.trx
*.VisualState.xml
TestResults/
_TestResult.xml

# NCrunch
*.ncrunch*
.*crunch*.local.xml
nCrunchTemp_*

# dotCover
*.dotCover
*/UserServiceApp/views
*/UserServiceApp/obj
*/UserServiceApp/Properties
*/UserServiceApp/wwwroot
*/UserServiceApp/appsettings.Development.json

# AxoCover
.axoCover/*
!.axoCover/settings.json
!.axoCover/coverage.xml

# Coverlet
coverage/*.json
coverage/*.xml
coverage/*.info
coverage/*.*

# Publish / Profile
*.publishproj
*.pubxml
*.pubxml.user
*.publishsettings

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of PackageReference
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Windows IoT
AppxPackages/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.suo
*.user
*.userosscache
*.sln.docstates

# Add this section if you are using Rider
.idea/
*.sln.iml
misc.xml
workspace.xml
tasks.xml
*.dotCover
*.resharper
*.resharper.user
*.ReSharper.user
*.rider
*.sln.DotSettings.user
*.sln.dotCover

# Add this section if you are using dotnet SDK
*.opendb
*.sln.ide
.vs/
